<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading"><%= current_account(@current_acc)%></div>
  <div class="list-group list-group-flush">
    <a href="/" class="list-group-item list-group-item-action bg-light"><i class="fa fa-bell" aria-hidden="true"></i> <%= t("student.left.notice")%></a>
    <!-- <span class="badge badge-light float-right">9</span> -->
    <a href="/student/places" class="list-group-item list-group-item-action bg-light"><i class="fa fa-check"></i> <%= t("student.left.checkin")%></a>
    <a href="/student/timetable" class="list-group-item list-group-item-action bg-light"><i class="fa fa-calendar"></i> <%= t("student.left.timetable")%></a>
    <a href="/student/courses" class="list-group-item list-group-item-action bg-light"><i class="fa fa-registered"></i> <%= t("student.left.register")%></a>
    <a href="/student/people" class="list-group-item list-group-item-action bg-light"><i class="fa fa-user"></i> <%= t("student.left.profile")%></a>
    <a href="/student/people" class="list-group-item list-group-item-action bg-light"><i class="fa fa-key"></i> <%= t("student.left.changepass")%></a>
  </div>
</div>
