<p id="notice"><%= notice %></p>

<h1>Register Courses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @register_courses.each do |register_course| %>
      <tr>
        <td><%= link_to 'Show', register_course %></td>
        <td><%= link_to 'Edit', edit_register_course_path(register_course) %></td>
        <td><%= link_to 'Destroy', register_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Register Course', new_register_course_path %>
