<p id="notice"><%= notice %></p>

<p>
  <strong>Person name:</strong>
  <%= @person.person_name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @person.code %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @person.sex %>
</p>

<p>
  <strong>Born:</strong>
  <%= @person.born %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @person.telephone %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
