<div class="note">
  <h1><%= t("note.title")%></h1>
  <% @notes.each do |note| %>
  <a href="/admin/notes/<%=note.id%>" class= "text-uppercase list-group-item list-group-item-action bg-light">
    <%= note.title%>
    <small>
      <div class="font-italic"><%= t("note.created_at")%>: <%=format_date(note.created_at)%> </div>
      <div class="">
        <% if note.use == 1 %>
            <span><%= t("note.all")%></span>
        <% elsif note.use == 2 %>
          <span><%= t("note.teacher")%></span>
        <% else %>
          <span><%= t("note.student")%></span>
        <% end %>
      </div>
    </small>
  </a>
  <br>
  <% end %>
  <%= will_paginate @notes, :renderer => WillPaginate::ActionView::LinkRenderer%>
</div>
