
<%= form_tag admin_notes_path do %>

  <div class="field">
    <%= label_tag(:q, "#{I18n.t("layout.title")}") %><br />
    <%= text_field("note", "title", class: "form-control", required: true) %>
  </div>
  <div class="field">
    <%= label_tag(:q, "#{I18n.t("layout.content")}") %><br />
    <%= cktext_area("note", "content", class: "form-control", required: true) %>
  </div>
  <div class="field">
    <%= label_tag(:q, "#{I18n.t("layout.choose")}") %><br />
    <%= select_tag(:use, options_for_select([ ["#{I18n.t("student.student")}", "3"], ["#{I18n.t("teacher.teacher")}", "2"], ["#{I18n.t("admin.all")}", "1"]] ), {:class => 'form-control'})  %>
  </div>

  <div class="actions text-center">
    <%= submit_tag "#{I18n.t("layout.save")}", class: "btn btn-primary" %>
  </div>
<% end %>
