<!DOCTYPE html>
<html>
  <head>
    <title>DIEM DANH</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '/assets/jquery.min'%>
    <%= javascript_include_tag '/assets/jquery-confirm.min'%>
    <%= javascript_include_tag '/assets/popper.min'%>
    <%= javascript_include_tag '/assets/bootstrap.bundle.min'%>
    <%= stylesheet_link_tag    '/assets/bootstrap.min'%>
    <%= stylesheet_link_tag    '/assets/simple-sidebar'%>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  </head>
  <body>
    <% if current_user.present?&&current_user.admin == 1 %>
      <div class="d-flex" id="wrapper">
        <%= render "layouts/share/admin/left"%>
        <div id="page-content-wrapper">
          <%= render "layouts/share/admin/menu"%>
          <div class="container-fluid">
            <%= yield %>
            <%= include_gon %>
          </div>
        </div>
      </div>
    <% elsif current_user.present?&&current_user.admin == 2%>
      <div class="container-fluid">
        <div class="d-flex" id="wrapper">
          <%= render "layouts/share/teacher/left"%>
          <div id="page-content-wrapper">
            <%= render "layouts/share/teacher/header"%>
            <div class="container-fluid">
              <%= yield %>
              <%= include_gon %>
            </div>
          </div>
        </div>
      </div>
    <% elsif current_user.present?&&current_user.admin == 3 %>
      <div class="container-fluid">
        <div class="d-flex" id="wrapper">
          <%= render "layouts/share/student/left"%>
          <div id="page-content-wrapper">
            <%= render "layouts/share/student/header"%>
            <div class="container-fluid">
              <%= yield %>
              <%= include_gon %>
            </div>
          </div>
        </div>
      </div>
      <% else %>
      <div class="container-fluid">
        <div class="d-flex" id="wrapper">
          <div id="page-content-wrapper">
            <div class="container-fluid">
              <%= yield %>
              <%= include_gon %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <script type="text/javascript">
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  </body>
</html>
